body {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
  list-style: none;
  margin-top: 8px;
}

.barbie-font {
  font-family:'Bartex';
}

.pink-bg {
  background-color: #F300A2;
}

.blue-bg {
  /* background-color: #27aafb; */
  background-color: #A0E0FE;
}

.letter-b {
  font-size: 62px;
}

nav {
  z-index: 3;
  width: 100%;
  background: transparent;
  color: #FFECF5;
  width: 100vw;
  padding: 10px 20px;
  position: fixed;
  display: flex;
  align-items: center;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  font-family:'Bartex';
  font-size: 52px;
  -webkit-text-stroke: 1px #F300A2;
}

.video-container{
  margin: 0;
  z-index: -3;
  width: 100vw;
  height: 500px;
  top: 0;
  background:linear-gradient(to right, #e0218a,#ffe9f1f4);
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.quote-section {
  padding: 25px 50px;
  margin-top: 0;
}

h1 {
  font-size: 1.6rem;
  font-weight: 500;
  color: #FFECF5;
  text-align: center;
}

h1 > span {
  font-size: 2.2rem;
  text-decoration: underline;
}

.star-section {
  background-image: url(assets/sun.svg);
  width: 300px;
  height: 300px;
  background-size: cover;
  z-index: 3;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: position 0.5s ease-in-out;
}

.sticky {
  position: absolute;
  top: 1350px;
}


.star-text {
  text-align: center;
  font-family:'Bartex';
  font-size: 28px;
  color: #F300A2;
}

.barbies-section {
  padding: 20px 50px;
}

.barbies-section > .d-flex {
  flex-wrap: wrap;
}

.barbies-section img {
  width: 200px;
  margin: 20px;
  border-radius: 10px;
}

.para {
  width: 100%;
  height: 450px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -2;
}

.para1 {
  background-image: url('https://assetsio.reedpopcdn.com/barbie-2023.png?width=1200&height=630&fit=crop&enable=upscale&auto=webp');
}

.para2 {
  background-image: url('assets/barbie-ken.png');
}

.about-section {
  color: #FFECF5;

  > h2 {
    font-size: 2.2rem;
  }
}

.about-section,
.footer {
  padding: 30px 50px;
}

.allan {
  z-index: 3;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-image: url('https://img.huffingtonpost.com/asset/64be80ef26000067009deecf.jpg?cache=tCnDQMikwL&ops=scalefit_720_noupscale');
  box-shadow: 1px 1px 20px #FFECF5;
  opacity: 0.95;
  /* position: absolute; */
}

#allanContainer {
  position: absolute;
  bottom: -1770px;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  transition: display 0.5s ease-in-out;
}

.blue-button {
  background-color: #27aafb;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  color: #fff;
}

.blue-button:hover {
  background-color: #018ce2;
  color: #fff;
  cursor: pointer;
}

.cast-button {
  display: block;
  margin: 0 auto;
  width: 200px;

}

@media screen and (max-width: 1040px) {
  .sticky {
    position: absolute;
    top: 1750px;
  }

  /* .allan {
    width: 100px;
    height: 100px;
  }

  #allanContainer {
    bottom: -2700px;
  } */

}

@media screen and (max-width: 768px) {
  .star-section {
    display: none;
  }

  .allan {
    width: 100px;
    height: 100px;
  }

  #allanContainer {
    bottom: -2700px;
  }

}
